.elementor-36
  .elementor-element.elementor-element-d8a5a07:not(.elementor-motion-effects-element-type-background),
.elementor-36
  .elementor-element.elementor-element-d8a5a07
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(90deg, #46bcd8 0%, #1d7ac0 100%);
}
.elementor-36 .elementor-element.elementor-element-d8a5a07 {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-36
  .elementor-element.elementor-element-d8a5a07
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-36
  .elementor-element.elementor-element-d8a5a07
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: #2e1b22;
}
.elementor-36
  .elementor-element.elementor-element-d8a5a07
  > .elementor-shape-top
  svg {
  width: calc(300% + 1.3px);
  height: 5px;
}
.elementor-36
  .elementor-element.elementor-element-d8a5a07
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: #ffffff;
}
.elementor-36
  .elementor-element.elementor-element-d8a5a07
  > .elementor-shape-bottom
  svg {
  width: calc(100% + 1.3px);
  height: 25px;
}
.elementor-36 .elementor-element.elementor-element-188f19b {
  --spacer-size: 50px;
}
.elementor-36 .elementor-element.elementor-element-837133d {
  text-align: center;
}
.elementor-36 .elementor-element.elementor-element-49bee5d {
  text-align: center;
  width: var(--container-widget-width, 68.611%);
  max-width: 68.611%;
  --container-widget-width: 68.611%;
  --container-widget-flex-grow: 0;
  align-self: flex-start;
}
.elementor-36 .elementor-element.elementor-element-49bee5d img {
  width: 65%;
}
.elementor-36
  .elementor-element.elementor-element-49bee5d
  > .elementor-widget-container {
  padding: 0px 140px 0px 0px;
}
.elementor-36 .elementor-element.elementor-element-dfdebbb {
  text-align: center;
  color: #ffffff;
  font-family: "playtime", Sans-serif;
  font-size: 88px;
  font-weight: 500;
  line-height: 98px;
  letter-spacing: -3.7px;
}
.elementor-36
  .elementor-element.elementor-element-dfdebbb
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 35px 0px 35px;
}
.elementor-36 .elementor-element.elementor-element-8cc2e64 .elementor-button {
  font-family: "playtime", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  fill: #2e1b22;
  color: #2e1b22;
  background-color: #ffffff;
  border-style: none;
  border-radius: 26px 26px 26px 26px;
}
.elementor-36 .elementor-element.elementor-element-8e4a89f .elementor-button {
  font-family: "playtime", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  fill: #ffffff;
  color: #ffffff;
  background-color: #f7a700;
  border-style: none;
  border-radius: 26px 26px 26px 26px;
}
.elementor-36 .elementor-element.elementor-element-85235d6 {
  --spacer-size: 65px;
}
.elementor-36
  .elementor-element.elementor-element-9ae809a
  > .elementor-widget-container {
  margin: 15px 15px 15px 15px;
}
.elementor-36 .elementor-element.elementor-element-9b23298 {
  text-align: center;
  width: var(--container-widget-width, 68.611%);
  max-width: 68.611%;
  --container-widget-width: 68.611%;
  --container-widget-flex-grow: 0;
  align-self: flex-start;
}
.elementor-36 .elementor-element.elementor-element-9b23298 img {
  width: 69%;
}
.elementor-36
  .elementor-element.elementor-element-9b23298
  > .elementor-widget-container {
  padding: 0px 140px 0px 0px;
}
.elementor-36 .elementor-element.elementor-element-7535828 {
  --spacer-size: 45px;
}
.elementor-36
  .elementor-element.elementor-element-0cc3c9d:not(.elementor-motion-effects-element-type-background),
.elementor-36
  .elementor-element.elementor-element-0cc3c9d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-36 .elementor-element.elementor-element-0cc3c9d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-36
  .elementor-element.elementor-element-0cc3c9d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-36 .elementor-element.elementor-element-c822e7b {
  --spacer-size: 65px;
}
.elementor-36 .elementor-element.elementor-element-83d78c8 {
  text-align: center;
  width: var(--container-widget-width, 110.949%);
  max-width: 110.949%;
  --container-widget-width: 110.949%;
  --container-widget-flex-grow: 0;
}
.elementor-36 .elementor-element.elementor-element-83d78c8 img {
  width: 100%;
  max-width: 100%;
}
.elementor-36 .elementor-element.elementor-element-bb245b2 .elementor-button {
  font-family: "playtime", Sans-serif;
  font-weight: 500;
  background-color: #a50f0f;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #000000;
  border-radius: 26px 26px 26px 26px;
}
.elementor-36
  .elementor-element.elementor-element-bb245b2
  > .elementor-widget-container {
  padding: 0px 0px 0px 172px;
}
.elementor-36 .elementor-element.elementor-element-bb245b2 {
  width: var(--container-widget-width, 64.989%);
  max-width: 64.989%;
  --container-widget-width: 64.989%;
  --container-widget-flex-grow: 0;
}
.elementor-36 .elementor-element.elementor-element-13a64a1 .elementor-button {
  font-family: "playtime", Sans-serif;
  font-weight: 500;
  background-color: #0d26b1;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #020101;
  border-radius: 27px 27px 27px 27px;
  padding: -17px -17px -17px -17px;
}
.elementor-36
  .elementor-element.elementor-element-13a64a1
  > .elementor-widget-container {
  padding: 0px 0px 0px 20px;
}
.elementor-36 .elementor-element.elementor-element-13a64a1 {
  width: var(--container-widget-width, 34.157%);
  max-width: 34.157%;
  --container-widget-width: 34.157%;
  --container-widget-flex-grow: 0;
}
.elementor-36 .elementor-element.elementor-element-012bbf0 {
  --spacer-size: 40px;
}
.elementor-bc-flex-widget
  .elementor-36
  .elementor-element.elementor-element-7820bcf.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-36
  .elementor-element.elementor-element-7820bcf.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-36
  .elementor-element.elementor-element-7820bcf
  > .elementor-element-populated {
  border-style: none;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-36
  .elementor-element.elementor-element-7820bcf
  > .elementor-element-populated,
.elementor-36
  .elementor-element.elementor-element-7820bcf
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-36
  .elementor-element.elementor-element-7820bcf
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-36
  .elementor-element.elementor-element-7820bcf
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-36 .elementor-element.elementor-element-d163720 {
  --spacer-size: 50px;
}
.elementor-36 .elementor-element.elementor-element-fe32d30 {
  --spacer-size: 41px;
}
.elementor-36 .elementor-element.elementor-element-b5cf846 {
  text-align: center;
}
.elementor-36 .elementor-element.elementor-element-b5cf846 img {
  width: 100%;
}
.elementor-36
  .elementor-element.elementor-element-b5cf846
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-36 .elementor-element.elementor-element-01a1a19 {
  text-align: center;
  width: var(--container-widget-width, 101.292%);
  max-width: 101.292%;
  --container-widget-width: 101.292%;
  --container-widget-flex-grow: 0;
}
.elementor-36 .elementor-element.elementor-element-01a1a19 img {
  width: 100%;
}
.elementor-36 .elementor-element.elementor-element-e5030ac {
  text-align: center;
  color: #2e1b22;
  font-family: "playtime", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  width: 100%;
  max-width: 100%;
}
.elementor-36
  .elementor-element.elementor-element-e5030ac
  > .elementor-widget-container {
  padding: 0px 8px 0px 8px;
}
.elementor-36 .elementor-element.elementor-element-c377e59 .elementor-button {
  font-family: "playtime", Sans-serif;
  font-weight: 500;
  background-color: #a50f0f;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #000000;
  border-radius: 26px 26px 26px 26px;
}
.elementor-36
  .elementor-element.elementor-element-c377e59
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-36 .elementor-element.elementor-element-c377e59 {
  width: 100%;
  max-width: 100%;
}
.elementor-36 .elementor-element.elementor-element-a6e22a4 .elementor-button {
  font-family: "playtime", Sans-serif;
  font-weight: 500;
  background-color: #0d26b1;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #020101;
  border-radius: 27px 27px 27px 27px;
  padding: -17px -17px -17px -17px;
}
.elementor-36
  .elementor-element.elementor-element-a6e22a4
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-36 .elementor-element.elementor-element-a6e22a4 {
  width: 100%;
  max-width: 100%;
}
.elementor-36 .elementor-element.elementor-element-d60124a {
  --spacer-size: 50px;
}
.elementor-36
  .elementor-element.elementor-element-fbce42b:not(.elementor-motion-effects-element-type-background),
.elementor-36
  .elementor-element.elementor-element-fbce42b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(90deg, #46bcd8 0%, #1d7ac0 100%);
}
.elementor-36 .elementor-element.elementor-element-fbce42b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-36
  .elementor-element.elementor-element-fbce42b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-36
  .elementor-element.elementor-element-fbce42b
  > .elementor-shape-top
  .elementor-shape-fill {
  fill: #ffffff;
}
.elementor-36
  .elementor-element.elementor-element-fbce42b
  > .elementor-shape-top
  svg {
  width: calc(100% + 1.3px);
  height: 25px;
}
.elementor-36
  .elementor-element.elementor-element-fbce42b
  > .elementor-shape-bottom
  svg {
  width: calc(100% + 1.3px);
  height: 25px;
}
.elementor-36 .elementor-element.elementor-element-8d3e3f1 {
  --spacer-size: 86px;
}
.elementor-36 .elementor-element.elementor-element-7921d7a img {
  width: 73%;
}
.elementor-36 .elementor-element.elementor-element-7921d7a {
  width: var(--container-widget-width, 100.176%);
  max-width: 100.176%;
  --container-widget-width: 100.176%;
  --container-widget-flex-grow: 0;
}
.elementor-36 .elementor-element.elementor-element-f7b0638 {
  --spacer-size: 5px;
}
.elementor-36
  .elementor-element.elementor-element-7e99dad
  > .elementor-container {
  max-width: 1126px;
}
.elementor-bc-flex-widget
  .elementor-36
  .elementor-element.elementor-element-eca8af9.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-36
  .elementor-element.elementor-element-eca8af9.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-36 .elementor-element.elementor-element-90ab4ca {
  text-align: center;
  width: 100%;
  max-width: 100%;
}
.elementor-36 .elementor-element.elementor-element-90ab4ca img {
  width: 88%;
}
.elementor-36 .elementor-element.elementor-element-cd1e86a {
  text-align: center;
  color: #ffffff;
  font-family: "playtime", Sans-serif;
  font-size: 54px;
  font-weight: 500;
  line-height: 47px;
  width: 100%;
  max-width: 100%;
}
.elementor-36
  .elementor-element.elementor-element-cd1e86a
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-36 .elementor-element.elementor-element-ccf241e .elementor-button {
  font-family: "playtime", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  fill: #ffffff;
  color: #ffffff;
  background-color: #f7a700;
  border-style: none;
  border-radius: 26px 26px 26px 26px;
}
.elementor-36 .elementor-element.elementor-element-4388060 {
  --spacer-size: 50px;
}
.elementor-36 .elementor-element.elementor-element-f5e6520 {
  text-align: center;
  width: 100%;
  max-width: 100%;
}
.elementor-36 .elementor-element.elementor-element-f5e6520 img {
  width: 88%;
}
.elementor-36 .elementor-element.elementor-element-326b99e {
  --spacer-size: 66px;
}
.elementor-36 .elementor-element.elementor-element-aad9dc1 {
  --spacer-size: 25px;
}
.elementor-36 .elementor-element.elementor-element-a60614c img {
  width: 49%;
}
.elementor-36 .elementor-element.elementor-element-3504a98 {
  --spacer-size: 10px;
}
.elementor-36 .elementor-element.elementor-element-5a42e10 {
  text-align: left;
  color: #2e1b22;
  font-family: "playtime", Sans-serif;
  font-size: 43px;
  font-weight: 600;
  line-height: 37px;
}
.elementor-36 .elementor-element.elementor-element-20f6594 {
  text-align: left;
  color: #2e1b22;
  font-family: "playtime", Sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.elementor-36 .elementor-element.elementor-element-116bf81 {
  text-align: left;
  color: #2e1b22;
  font-family: "playtime", Sans-serif;
  font-size: 43px;
  font-weight: 600;
  line-height: 37px;
}
.elementor-36 .elementor-element.elementor-element-d3e2b48 {
  text-align: left;
  color: #2e1b22;
  font-family: "playtime", Sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.elementor-36 .elementor-element.elementor-element-7500287 {
  text-align: left;
  color: #2e1b22;
  font-family: "playtime", Sans-serif;
  font-size: 43px;
  font-weight: 600;
  line-height: 37px;
}
.elementor-36 .elementor-element.elementor-element-5ed20d5 {
  text-align: left;
  color: #2e1b22;
  font-family: "playtime", Sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.elementor-36 .elementor-element.elementor-element-a161854 {
  text-align: left;
  color: #2e1b22;
  font-family: "playtime", Sans-serif;
  font-size: 43px;
  font-weight: 600;
  line-height: 37px;
}
.elementor-36 .elementor-element.elementor-element-96f7e8e {
  text-align: left;
  color: #2e1b22;
  font-family: "playtime", Sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.elementor-36 .elementor-element.elementor-element-8421e9e {
  --spacer-size: 50px;
}
@media (max-width: 1024px) {
  .elementor-36
    .elementor-element.elementor-element-bb245b2
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-36 .elementor-element.elementor-element-bb245b2 {
    width: var(--container-widget-width, 282.7px);
    max-width: 282.7px;
    --container-widget-width: 282.7px;
    --container-widget-flex-grow: 0;
  }
  .elementor-36
    .elementor-element.elementor-element-13a64a1
    > .elementor-widget-container {
    padding: 0px 0px 0px 71px;
  }
  .elementor-36 .elementor-element.elementor-element-13a64a1 {
    width: var(--container-widget-width, 196.617px);
    max-width: 196.617px;
    --container-widget-width: 196.617px;
    --container-widget-flex-grow: 0;
  }
  .elementor-36
    .elementor-element.elementor-element-c377e59
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-36 .elementor-element.elementor-element-c377e59 {
    width: var(--container-widget-width, 282.7px);
    max-width: 282.7px;
    --container-widget-width: 282.7px;
    --container-widget-flex-grow: 0;
  }
  .elementor-36
    .elementor-element.elementor-element-a6e22a4
    > .elementor-widget-container {
    padding: 0px 0px 0px 71px;
  }
  .elementor-36 .elementor-element.elementor-element-a6e22a4 {
    width: var(--container-widget-width, 196.617px);
    max-width: 196.617px;
    --container-widget-width: 196.617px;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 767px) {
  .elementor-36
    .elementor-element.elementor-element-d8a5a07
    > .elementor-shape-top
    svg {
    height: 6px;
  }
  .elementor-36
    .elementor-element.elementor-element-d8a5a07
    > .elementor-shape-bottom
    svg {
    height: 13px;
  }
  .elementor-36 .elementor-element.elementor-element-837133d img {
    width: 100%;
  }
  .elementor-36 .elementor-element.elementor-element-49bee5d img {
    width: 30%;
  }
  .elementor-36
    .elementor-element.elementor-element-49bee5d
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-36 .elementor-element.elementor-element-49bee5d {
    --container-widget-width: 1000px;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 1000px);
    max-width: 1000px;
  }
  .elementor-36 .elementor-element.elementor-element-dfdebbb {
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: -1.3px;
  }
  .elementor-36 .elementor-element.elementor-element-479cc92 {
    width: 50%;
  }
  .elementor-36 .elementor-element.elementor-element-8cc2e64 .elementor-button {
    font-size: 17px;
  }
  .elementor-36 .elementor-element.elementor-element-728b9a8 {
    width: 50%;
  }
  .elementor-36 .elementor-element.elementor-element-8e4a89f .elementor-button {
    font-size: 17px;
  }
  .elementor-36 .elementor-element.elementor-element-85235d6 {
    --spacer-size: 25px;
  }
  .elementor-36 .elementor-element.elementor-element-7535828 {
    --spacer-size: 5px;
  }
  .elementor-36 .elementor-element.elementor-element-c822e7b {
    --spacer-size: 25px;
  }
  .elementor-36 .elementor-element.elementor-element-83d78c8 img {
    width: 40%;
  }
  .elementor-36
    .elementor-element.elementor-element-bb245b2
    > .elementor-widget-container {
    padding: 0px 0px 0px 98px;
  }
  .elementor-36 .elementor-element.elementor-element-d163720 {
    --spacer-size: 10px;
  }
  .elementor-36 .elementor-element.elementor-element-fe32d30 {
    --spacer-size: 10px;
  }
  .elementor-36 .elementor-element.elementor-element-01a1a19 img {
    width: 62%;
  }
  .elementor-36 .elementor-element.elementor-element-e5030ac {
    font-size: 30px;
  }
  .elementor-36
    .elementor-element.elementor-element-e5030ac
    > .elementor-widget-container {
    padding: 10px 20px 10px 20px;
  }
  .elementor-36 .elementor-element.elementor-element-8a9b514 {
    width: 50%;
  }
  .elementor-36
    .elementor-element.elementor-element-c377e59
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-36 .elementor-element.elementor-element-c377e59 {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }
  .elementor-36 .elementor-element.elementor-element-54dbbe3 {
    width: 50%;
  }
  .elementor-36
    .elementor-element.elementor-element-a6e22a4
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-36 .elementor-element.elementor-element-a6e22a4 {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }
  .elementor-36
    .elementor-element.elementor-element-fbce42b
    > .elementor-shape-top
    svg {
    height: 13px;
  }
  .elementor-36
    .elementor-element.elementor-element-fbce42b
    > .elementor-shape-bottom
    svg {
    height: 13px;
  }
  .elementor-36 .elementor-element.elementor-element-7921d7a img {
    width: 100%;
  }
  .elementor-36 .elementor-element.elementor-element-90ab4ca img {
    width: 45%;
  }
  .elementor-36 .elementor-element.elementor-element-cd1e86a {
    font-size: 30px;
  }
  .elementor-36 .elementor-element.elementor-element-ccf241e .elementor-button {
    font-size: 17px;
  }
  .elementor-36 .elementor-element.elementor-element-a60614c img {
    width: 100%;
  }
  .elementor-36 .elementor-element.elementor-element-5a42e10 {
    text-align: center;
    font-size: 30px;
  }
  .elementor-36 .elementor-element.elementor-element-20f6594 {
    text-align: center;
    font-size: 30px;
  }
  .elementor-36 .elementor-element.elementor-element-116bf81 {
    text-align: center;
    font-size: 30px;
  }
  .elementor-36 .elementor-element.elementor-element-d3e2b48 {
    text-align: center;
    font-size: 30px;
  }
  .elementor-36 .elementor-element.elementor-element-7500287 {
    text-align: center;
    font-size: 30px;
  }
  .elementor-36 .elementor-element.elementor-element-5ed20d5 {
    text-align: center;
    font-size: 30px;
  }
  .elementor-36 .elementor-element.elementor-element-a161854 {
    text-align: center;
    font-size: 30px;
  }
  .elementor-36 .elementor-element.elementor-element-96f7e8e {
    text-align: center;
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .elementor-36 .elementor-element.elementor-element-78d7e3f {
    width: 55.125%;
  }
  .elementor-36 .elementor-element.elementor-element-a44a2ec {
    width: 44.875%;
  }
  .elementor-36 .elementor-element.elementor-element-3cbfd37 {
    width: 39%;
  }
  .elementor-36 .elementor-element.elementor-element-7820bcf {
    width: 61%;
  }
  .elementor-36 .elementor-element.elementor-element-eca8af9 {
    width: 63.75%;
  }
  .elementor-36 .elementor-element.elementor-element-c19a58e {
    width: 36.161%;
  }
}
